.landingpage{
    height: 100vh;
    width: 100%;
    background-image: url(https://sfondo.info/i/original/3/a/6/32957.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* .btn {
    justify-content: center;
    align-items: center;
} */

