.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url('../../images/wallpaper-home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow-y: hidden;
}

.pokemon-form {
    width: 400px;
    height: 530px;
}

.pokemon-created {
    height: 530px;
    width: 400px;
}

.form-imput {
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.535);
    box-shadow: 0 6px 17px rgba(70, 81, 11, 0.663);
    border-top: 0;
    border-left: 0;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.form-select {
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.535);
    box-shadow: 0 6px 17px rgba(70, 81, 11, 0.663);
    border-top: 0;
    border-left: 0;
    width: 150px;
    height: 30px;
    margin-bottom: 15px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.types-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.type-contain {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    background-color: darkslategrey;
    backdrop-filter: blur(14px);
    height: 15px;
}

.x-button {
    margin-right: 2px;
    margin-left: 6px;
    height: 14px;
    width: 20px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f83c2b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }